// Import page-specific CSS files here.
@import "home";

body{
  background-color: $white;
}

.container{
  display:flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;
}



.top{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 370px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 14px;

  .profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
  }

  .pic-text{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    p{
      font-family: "Anton", sans-serif;
      font-weight: 200;
      font-style: normal;
      color: $gray;
      margin: 0;
      margin-bottom: 7px;
    }
  }

  .button-trip{
    display:flex;
    align-items: center;
  }
}

.title{
  display: flex;
  flex-direction: row;
  width: 370px;
  margin-bottom: 6px;

  h1{
    font-family: $headers-font;
    letter-spacing: 1vw;
    font-size: 25px;
    margin-left: 2px;
  }

  img{
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
  }
}


.card{
  h2{
    font-family: $button-font;
  }
}

@media screen and (max-width:1800px) {
  .journeys-body {
    width: 360px;

  }
}

.summer {
  height: 200px;
  width: 200px;
}

@import "show";
