// Import page-specific CSS files here.
@import "home";

body{
  background-color: $white;
}

.container{
  display:flex;
  flex-direction: column;
}

.top{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 48px 0 24px 0;

  .profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
  }

  .pic-text{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    p{
      font-family: "Anton", sans-serif;
      font-weight: 200;
      font-style: normal;
      color: $gray;
    }
  }

  .button-trip{
    display:flex;
    align-items: center;
  }
}

.title{
  display: flex;
  flex-direction: row;

  h1{
    font-family: $headers-font;
    letter-spacing: 1vw;
    font-size: 32px;
  }

  img{
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
  }
}


.card{
  h2{
    font-family: $button-font;
  }
}

@media screen and (max-width:1800px) {
  .journeys-body {
    width: 390px;
  }
}

.summer {
  height: 200px;
  width: 200px;
}

@import "show";
