@media (max-width: 1800px) {
  .container {
    width: 370px;
  }
}

#journey_name {
  border-radius: 8px;
  border: solid 1.5px $border-color;
  height: 40px;
  color: $gray;
  text-indent: 8px;
}

#journey_description {
  border-radius: 8px;
  border: solid 1.5px $border-color;
  height: 120px;
  color: $gray;
  text-indent: 8px;
}

.mapboxgl-ctrl-geocoder--input {
  border-radius: 8px;
  border: solid 1.5px $border-color;
  height: 40px;
  color: lightgray;
  color: $gray;
}
// .input {

//   border-radius: 8px;
//   border-color: solid 1px lightgray;
//   width:90%;
//   justify-content: center;
// }

// .start_date {
//   border-radius: 8px;
//   border-color: solid 1px lightgray;
//   width:45%;
// }

// .end_date {
//   border-radius: 8px;
//   border-color: solid 1px lightgray;
//   width:45%;
// }


// .inputWrapper{
//   display: block;
// }
