.card-roadtrip {
  font-size: 40px;
  font-family: $template-font;
  color: white;
}
.roadtrip-bg {
  width: 100vw;
  height: 100vh;
  background-image: url("roadtrip.jpg");
  background-size: cover;
  position: fixed;
  left: 0;
  bottom: 0;
  button {
    background-color: #FFD952;
    border: none;
    width: 25%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  textarea, input, button {
    border-radius: 8px;
  }
  textarea {
    width: 80%;
    font-size: initial;
    line-height: initial;
  }
}
.roadtrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#uploaded-photo {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  object-position: 50% 50%;
}
.frame-roadtrip {
  width: 260px;
  height: 260px;
  border-radius: 8px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sticker {
  font-size: 120px;
  position: absolute;
  left: 62%;
  top: 42%;
}
