.journey-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

h1 {
  font-weight: bold;
  font-size: 35px;
  display: inline-block;
  vertical-align: middle;
}


.gray-info {
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1{
    color: $gray;
  }
}

.description{
  color: $gray;
  margin-bottom: 8px;
  font-weight: bold;
}

.description-gray {
  color: gray;

}

.hate {

  .journey-description {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
  }

  .action-buttons {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
  }
}


.bottom {
  align-self: flex-end;
  bottom: 0;
}
img {
  object-fit: cover;
}

.info-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infobtn-container{
  display: flex;
  gap: 10px;

}

.buttons-edit{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
