<div class="body">
  <div>
    <div class="card">
      <div class="image">
        <br>
      </div>
      <div class="card-text">
        <p><strong>@username</strong></p>
        <p class="user-text">Enter text</p>
      </div>
    </div>
  </div>
</div>
