<%= render "shared/headertemplate" %>
<div class="blank" data-templates-target="page" data-pin-id="<%= @pin.id %>" id="gesture-area">
  <div data-controller="blank">
    <div class="sidebar-toggle" data-action="click->blank#toggleSideBar">
      <button class="btn side"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="sidebar d-none" data-blank-target="sidebar">
      <br>
      <br>
      <button class="btn side" data-action="click->blank#addTextInput"><i class="fa-solid fa-font"></i></i></button>
      <br>
      <button class="btn side" data-action="click->blank#addPhotoInput"><i class="fa-solid fa-camera"></i></button>
      <br>

      <button class="btn side"><input type="color" data-action="change->blank#onChangeColor" class=""></button>
      <br>
      <button class="btn side"><i class="fa-solid fa-rotate-left" data-action="click->blank#undoLastAction"></i></button>
      <br>
      <button class="btn side" data-action="click->blank#savePin"><i class="fa-regular fa-circle-check"></i></button>
    </div>
    <div class="canvas" data-blank-target="canvas">
    </div>
  </div>
</div>
