<%= render "shared/headertemplate" %>
<div class="christmas-bg" data-controller='templates' data-templates-target="page" data-pin-id="<%= @pin.id %>" data-action="change->templates#handleChange">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="christmas">
    <div class="frame-christmas text-center" data-templates-target="frame">
      <img id="uploaded-photo" src="#" alt="Uploaded Photo" style="display: none;" data-templates-target="uploadedPhoto">
      <input type="file" id="photo-input" accept="image/*" data-templates-target="photoInput" data-action="change->templates#handlePhotoChange" style="display: none;">
      <label for="photo-input" data-templates-target="icon">
        <i class="fa-solid fa-camera"></i>
      </label>
    </div>
    <p class="sticker">❄️</p>
    <br>
    <br>
    <div class="card-body card-christmas" data-templates-target="textContainer">
      <textarea id="text-input" placeholder="Enter text here" data-templates-target="textInput" data-action="blur->templates#handleTextChange"></textarea>
    </div>
      <button class="btn large" id="save" data-action="click->templates#savePin" data-action="click->templates#handleTextChange" data-templates-target="saveButton">
        <i class="fa-solid fa-floppy-disk"></i>
      </button>
  </div>
</div>
