<div class="floral-bg" data-controller='templates'>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <div class="floral">
    <div class="frame text-center" data-templates-target="frame">
      <img id="uploaded-photo" src="#" alt="Uploaded Photo" style="display: none;" data-templates-target="uploadedPhoto">
      <input type="file" id="photo-input" accept="image/*" data-templates-target="photoInput" data-action="change->templates#handlePhotoChange">
    </div>
    <p class="sticker">☀️</p>
    <br>
    <br>
    <div class="card-body card-floral" data-templates-target="textContainer">
      <textarea id="text-input" placeholder="Enter text here" data-templates-target="textInput"></textarea>
    </div>
    <button data-templates-target="button" data-action="click->templates#handleTextChange">Add</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= link_to journey_path(@pin.journey) do %>
      <button class="btn large" data-action="click->templates#savePin">Save</button>
    <% end %>
  </div>
</div>
