
<h1>Lucy Template</h1>
<div class="template">
<div class = "container">
<div class = "image">

</div>
<div class= "card-text">
<p><strong>@username</strong></p>
<p class= "user-text">Enter text</p>
</div>
</div>
</div>

<h1>Templates#index</h1>

<%= render "templatem" %>

