<%= render "shared/header" %>
<div>
  <div class="card-body">
    <p>Blank</p>
  </div>
  <% @templates.each do |template| %>
    <%= link_to template.name do %>
      <div class="card-body">
      <p><%= template.name %></p>
    <% end %>
  </div>
  <% end %>
</div>

