<%= render "shared/header" %>
<div>
  <div class="card-body">
    <p>BLANK</p>
  </div>
  <% @templates.each do |template| %>
    <%= link_to "templates/#{template.name}" do %>
      <div class="card-body">
      <p><%= template.name.upcase %></p>
    <% end %>
  </div>
  <% end %>
</div>
