<%= render "shared/header" %>
<div>
  <% @templates.each do |template| %>
  <div class="card-body <%= "background-#{template.name.downcase}" %>">
    <%= link_to "templates/#{template.name}" do %>
        <%= template.name.upcase %>
      <% end %>
    </div>
  <% end %>
</div>
