<style>
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
</style>

<div class="header">
  <%= link_to 'journey_path' do %>
    <%= image_tag "back.png", class: 'back-image', style: 'width: 22px; height: 22px;' %>
  <% end %>
  <p class="logo mt-2">EXPLORELOG</p>
</div>


