
<div class="header">
  <%= link_to :back,
    data: {
        controller: "alert",
        action: "click->alert#initSweetalert",
        turbo: false
      } do %>
    <%= image_tag "chevron-circle-left.svg", class: 'back-image' %>
  <% end %>
  <%= link_to journeys_path, id: 'logo',
    data: {
        controller: "alert",
        action: "click->alert#initSweetalert",
        turbo: false
      } do %>
    <p class="logo">EXPLORELOG</p>
  <% end %>
</div>
