<div class="homepage">
  <div class="title">
    <h1>EXPLORELOG</h1>
    <h3>MEMORIES MADE SIMPLE</h3>
  </div>
  <div class="button">
    <%= link_to journeys_path do %>
      <button class ="btn large">SIGN IN</button>
    <% end %>
  </div>
</div>
