@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.btn {
  border-radius:8px;
  background-color: #FFD952;
  color: black;
  border: none;
  //margin-left: 30px;
  //margin-right: 30px;
  min-width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: $button-font;
}

.small {
  border-radius: 8px;
  background-color: #FFD952;
  color: black;
  border: none;
  //margin-left: 30px;
  //padding: 3px 12px;
  width: 25%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);


}

.large {
  border-radius:8px;
  background-color: #FFD952;
  color: black;
  border: none;
  min-width: 272px;
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: $headers-font;
  font-weight: 400;
  font-style: normal;
  color: $gray;
  letter-spacing: 1vw;
}

.red {
  background-color: #DE4545;
  border: none;
  //margin-left: 30px;
  //padding: 3px 12px;
  width: 25%;
}

.btn:hover {
  background-color: #CEB148;
}
