.card {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  padding: 20px;
}

.card-content p {
  margin-bottom: 0;
  font-size: small;
}

.card-content h2 {
  font-weight: bold;
  margin-left: 3px;
}


.pin-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;

  .pin {
    color: white;
    width: 16px;
    height:16px;
    padding: 0;
  }
}
.card-templates {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  a {
    text-decoration: none;
    color: black;
    width: 100%; /* Ensure link covers the entire card body */
    height: 100%; /* Ensure link covers the entire card body */
    display: flex; /* Use flexbox to center the text */
    justify-content: center;
    align-items: center;
    font-family: $button-font;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.7px black;
    font-size: 1.8rem;
  }
  &:hover {
    transform: translateY(-5px) rotateX(2deg) rotateY(2deg);
  }
}
.card-body {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;

  a {
    text-decoration: none;
    color: black;
    width: 100%; /* Ensure link covers the entire card body */
    height: 100%; /* Ensure link covers the entire card body */
    display: flex; /* Use flexbox to center the text */
    justify-content: center;
    align-items: center;
    font-family: $button-font;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.7px black;
    font-size: 1.8rem;
  }
  &:hover {
    transform: translateY(-5px) rotateX(2deg) rotateY(2deg);
  }

}

.card{
  margin-bottom: 24px;
}

.background-christmas {
  background-image: image-url('merrychristmas.jpeg');
  background-position: bottom;

}

.background-family {
  background-image: image-url('family.jpeg');
  background-position: center;
}


.background-floral {
  background-image: image-url('floral.webp');
  background-position: bottom;
}

.background-roadtrip {
  background-image: image-url('roadtrip.jpg');
}

.background-ocean {
  background-image: image-url('ocean.webp');
}

.background-vintage {
  background-image: image-url('vintage.jpeg');
}

.background-love {
  background-image: image-url('love.webp');
}





// EDIT JOURNEY PAGE
.map-edit{
  display: flex;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-image: url('map.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-map{
  width: 370px;
  border-radius: 8px;
  margin-bottom: 100px;

  i{
    color: white;
  }
}


.template-content-pin{
  object-fit: cover;
  height: 40px;
  width: 40px;
}
