.card {
display: flex;
flex-direction: column;
width: 300px;
height: 300px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
justify-content: center;
align-items: center;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  padding: 20px;
}

.card-content p {
  margin-bottom: 0;
  font-size: small;
}

.card-content h2 {
  font-weight: bold;
  margin-left: 3px;
}


.pin-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;

  .pin {
    width: 25px;
    height:25px;
    padding: 0;
  }
}
.card-body {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    transform: translateY(-5px) rotateX(2deg) rotateY(2deg);
  }
}

.card{
  margin-bottom: 24px;
}
