

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  p{
    margin: 12px 0 12px 0;
  }
}

.logo {
  font-family: anton;
  color: $gray;

  &:hover{
    color: $yellow;
  }

}

#logo{
  text-decoration: none;
}

@media (max-width: 1800px) {
  .container {
    width: 320px;
  }
}
