.mapboxgl-popup {
  max-width: 200px;
  border-radius: 8px;
}

.mapboxgl-popup-content {
  background-color: #FFD952;
  border-radius: 8px;
  p {
    color: black;
    font-family: $button-font;
    font-size: medium;
    text-align: center;
    justify-content: center;

  }

}
.small-btn-pin {
  border-radius: 8px;
  background-color: #FFD952;
  color: black;
  font-weight: bold;
  padding: 4px;
  border: none;
  width: 50%;
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 90px;
  left: 27%;
  z-index: 9999;
}

.fas {
  font-size: 3em;
  color: $yellow;
  position: absolute;
  top: 11px;
  left: 15px;
  z-index: 9999;
}
.mapboxgl-canvas {
  width: 100vw !important;
  height: 100vh !important;

}
