.mapboxgl-popup {
  max-width: 200px;
  border-radius: 8px;
}

.mapboxgl-popup-content {
  background-color: #FFD952;
  border-radius: 8px;
  p {
    color: black;
    font-family: $button-font;
    font-size: medium;
    text-align: center;
    justify-content: center;

  }

}
.small-btn-pin {
  border-radius: 8px;
  background-color: #FFD952;
  color: black;
  font-weight: bold;
  padding: 4px;
  border: none;
  width: 50%;
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 50px;
  left: 27%;
  z-index: 9999;
}

.fas {
  font-size: 3em;
  color: $yellow;
  position: absolute;
  top: 11px;
  left: 15px;
  z-index: 9999;
}
.mapboxgl-canvas {
  width: 390px !important;
  height: 844px !important;

}

.planepic {
  width: 100vw;
  height: 100vh;
  background-image: url("plane.webp");
  background-size: cover;
  background-repeat: none;
}

.mapboxgl-ctrl-geocoder--input {
  border-radius: 8px;
  border: solid 1.5px #b7b4b4;
  height: 60px;
  color: lightgray;
  color: #1d1d1d;
}
