.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.small-btn-pin {
  border-radius: 8px;
  background-color: #FFD952;
  color: black;
  font-weight: bold;
  padding: 4px;
  border: none;
  width: 25%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 110px;
  left: 40%;
  z-index: 9999;
}

.fas {
  font-size: 3em;
  color: $yellow;
  position: absolute;
  top: 11px;
  left: 15px;
  z-index: 9999;
}
