

.search-home {
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrapper {
  position: relative;
  width:90%;
  }

.search-input {
  top: 0;
  right: 0;
  position: absolute;
  color: lightgray;
  font-style: italic;
  border-radius: 25px;
  border: 1px solid lightgray;
}

.search-button {
  top: 0;
  right: 0;
  height: 100%;
  background: none;
  border: none;
  position: absolute;
  padding: 0;
}
.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  font-style: italic;
  border-radius: 25px;
  border: 1px solid lightgray;
  background-color: white;
}

#query {
  min-width: 300px;
}

.mapboxgl-ctrl-geocoder--input{
  top: 0;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
  position: absolute;
  color: lightgray;
  font-style: italic;
  border-radius: 25px;
  border: 2px solid lightgray;
  height: 40px;
}
.mapboxgl-ctrl-geocoder {
  display: flex;
  align-items: center;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 11px;
  left: 262px !important;
  width: 23px;
  height: 23px;
}
