.search-home {
  display: flex;
  border: none;
  border-radius: 8px;
  border-color: #5C5C5C;

}
.search-input {
  color: lightgray;
  font-style: italic;
  border: none;
  border-radius: 8px;
  border-color: #5C5C5C;
}

.search-button {


}

.search-map {

}
