.templatem {
  width: auto;
  min-height: 1000px;
  background-image: image-url("winter.webp");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
