<div class="header">
  <%= link_to journeys_path do %>
    <%= image_tag "back.png", class: 'back-image', style: 'width: 22px; height: 22px;' %>
  <% end %>
  <%= link_to journeys_path, id: 'logo' do %>
    <p class="logo">EXPLORELOG</p>
  <% end %>
</div>
<div class="container">
  <%= render "form_edit", journey: @journey %>
</div>
